/*-----------------------------------------------------------Class Selectors--------------------------------------------------*/

.top-cont {
    background-color: bisque;
    position: relative;


}

.middle-cont {
    text-align: center;
    background-color: bisque  ;
}

.bottom-cont {
    background-color: lightblue;

}

.paragraphs_1 {
    margin: 0 auto;
    font-size: 190.5%;

}

.h_and_p {

    position:absolute;
    left:50%;
    top:60%;
    transform: translate(-50%, -40%)
}

.top {
    margin: 0;
    margin-top: 2%;
}



/*-----------------------------------------------------------Tag Selectors--------------------------------------------------*/


body {
    text-align: center;
    margin: 0;
    background-color: bisque;
    color: #00001a;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #00003a;
    font-weight: bold;
    font-size: 5.625em;
    margin: 0;
    font-family: 'Sacramento', cursive;


}

h2 {
    font-weight: bolder;
    color: #00003a;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #00002a;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

}

hr {
    text-align: center;
    border-color: lightblue;
    background-color: bisque;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 10px;
}



/*-----------------------------------------------------------Id Selectors--------------------------------------------------*/
#Tsunami {
    margin: 0;
    margin-top: 2%;
    width: 100%;

}
