/*-----------------------------------------------------------Class Selectors--------------------------------------------------*/

.top-cont {
    background-color: bisque;
}

.middle-cont {

    width: 100%;
    height: 200px;
    background-color: lightskyblue ;
}

.bottom-cont {
    width: 100%;
    height: 200px;
    background-color: #00001a;
}

.paragraphs_1 {
    margin: 0px;

}

.h_and_p {
    position: absolute;
    top: 65%;
    left: 50%;
}


/*-----------------------------------------------------------Tag Selectors--------------------------------------------------*/
h1 {
    margin-top: 0px;

}


body {
    margin: 0px;
    background-color: lightskyblue;
}



/*-----------------------------------------------------------Id Selectors--------------------------------------------------*/
#Tsunami {
    width: 100%;

}