.top-cont {
    background-color: #00ADB5;
    display: inline-block;



}

.middle-cont {

    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-top: 0px;

}

.bottom-cont {
    width: 200px;
    height: 200px;
    background-color: darkslategrey;
}

h1 {
    margin-top: 0px;
}

body {
    margin: 0px;
    background-color: #AAD8D3;
}

#Tsunami {
    width: 100%;
    height: 30px;
}