/*-----------------------------------------------------------Class Selectors--------------------------------------------------*/

.top-cont {
    background-color: bisque;
    position: relative;


}

.middle-cont {
    background-color: bisque  ;
}

.bottom-cont {
    background-color: #00001a;
}

.paragraphs_1 {
    margin: 0 auto;

}

.h_and_p {

    position:absolute;
    left:50%;
    top:60%;
    transform: translate(-50%, -40%)
}



/*-----------------------------------------------------------Tag Selectors--------------------------------------------------*/


body {
    margin: 0;
    background-color: bisque;
}

h1 {
    margin: 0;


}



/*-----------------------------------------------------------Id Selectors--------------------------------------------------*/
#Tsunami {
    margin: 0;
    width: 100%;

}
