/*-----------------------------------------------------------Class Selectors--------------------------------------------------*/

.top-cont {
    text-align: center;
    background-color: bisque;


}

.middle-cont {
    background-color: lightskyblue ;
}

.bottom-cont {
    background-color: #00001a;
}

.paragraphs_1 {
    margin: 0 auto;

}

.h_and_p {


    position:absolute;
    left:50%;
    top:60%;
    transform: translate(-50%, -40%)
}



/*-----------------------------------------------------------Tag Selectors--------------------------------------------------*/


body {
    margin: 0;
    background-color: lightskyblue;
}

h1 {
    margin: 0;


}



/*-----------------------------------------------------------Id Selectors--------------------------------------------------*/
#Tsunami {
    width: 100%;

}